@model Administration.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <br />
    <br />
    <br />
    <div>
        <h4>Patient</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateBirthday)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateBirthday)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Fax)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Fax)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Fonction)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Fonction)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.IdPatient">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</div>

